@charset "UTF-8";

body {
   margin: 0;
   padding: 0;
   font-family: 'Poppins';
   background-color: #a1caf8;
   display: flex;
   justify-content: center;
   align-items: center;
}

#loginsection {
   border: #ffffff solid 4px;
   background-color: #d8eaff;
   margin-top: 60%;
   width: 400px;
   height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 10px;
   box-shadow: 
   12px 12px 16px 0 #00000025;
   /* -8px -8px 12px 0 #ffffff48; */
}

.divimg {
   border: #ffffff solid 2px;
   background-color: #bad9fc;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   box-shadow: 
   5px 5px 16px 0 #00000040;
   /* -8px -8px 12px 0 #ffffff9a; */
}

.img {
   width: 60px;
}

#inlogin {
   font-family: 'Poppins';
   background-color: #d8eaff;
   padding-top: 5px;
   padding-right: 15px;
   padding-bottom: 5px;
   padding-left: 15px;
   width: 250px;
   height: 30px;
   border: none;
   border-radius: 30px;
   box-shadow: 8px 8px 12px 0 #00000040;
   /* 5px 5px 8px 0 #00000040 inset,
   5px 5px 8px 0 #00000040 inset, */
}

#inlogin:hover {
   background-color: #cae3ff;
}

#inlogin:focus {
   background-color: #b7d8fd;
}

#inpasswd {
   font-family: 'Poppins';
   background-color: #d8eaff;
   padding-top: 5px;
   padding-right: 15px;
   padding-bottom: 5px;
   padding-left: 15px;
   width: 250px;
   height: 30px;
   border: none;
   border-radius: 30px;
   box-shadow: 8px 8px 12px 0 #00000040;
}

#inpasswd:hover {
   background-color: #cae3ff;
}

#inpasswd:focus {
   background-color: #b7d8fd;
}

input:focus {
   border: none;
   outline: 0;
}

.remember {
   font-size: 12px;
   width: 350px;
   display: flex;
   justify-content: space-between;
}

.btn {
   font-family: 'Poppins';
   color: #000000;
   background-color: #d8eaff;
   padding-top: 5px;
   padding-bottom: 5px;
   width: 230px;
   height: 40px;
   border: none;
   border-radius: 30px;
   box-shadow: 8px 8px 12px 0 #00000040;
   /* 8px 8px 12px 0 #00000025, */
}

.btn:hover {
   background-color: #cae3ff;
}

.btn:active {
   background-color: #b7d8fd;
   transform: scale(.98);
}

/* .btn:active {
   box-shadow: 
   5px 5px 12px 0 #00000040 inset,
   -8px -8px 12px 0 #ffffff4d inset;
   transform: scale(.98);
} */

a {
   text-decoration: none;
   color: #3f8ce4;
}

a:hover {
   text-decoration: underline;
}

.a {
   font-size: 12px;
}