@charset "UTF-8";

body {
   font-family: 'Poppins';
}

#nav {
   display: flex;
   justify-content: space-between;
}

.first {
   margin-left: 10px;
   margin-right: 10px;
   background-color: rgb(200, 142, 255);
   width: 70%;
}

.second {
   margin-right: 10px;
   background-color: pink;
   width: 30%;
}